//variables
$base-color: rgb(21, 113, 156);

//mixins
@mixin titles_size($prop) {
  h1 {
    font-size: $prop;
  }
  h2 {
    font-size: $prop - 0.2;
  }
  h3 {
    font-size: $prop - 0.5;
  }
}

//id and class
#search {
  .head {
    background-color: $base-color;
    color:white;
  }
  .margin-top{
    margin-top: 2%;
  }
  .average{
   font-size: 1.5rem;
    font-weight: bold;
    margin-left: -30px;
  }

  font-family: "Open Sans", sans-serif;
}
